
<figure>
    <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
  </figure>
<p style="display: flex; gap: 5px;">
    <a class="botonVolver" href="/">inicio</a>
    <br>
    <a class="botonAgregar" href="/movies">Listado de Peliculas</a>
    <br>
    <a class="botonAgregar" href="/genres">Listado de Generos</a>
    <br>
    <a class="botonAgregar" href="/actors">Listado de Actores</a>
    <br>
</p>
<br>
<br>